<div class="row wrapper">
    <div class="col-lg-9">
      <ui-codemirror ng-model="vm.currentCode" ng-change="vm.change()" ui-codemirror-opts="vm.editorOptions">
      <ui-codemirror>
    </div>

    <div class="col-lg-3">
      <h3>People in room</h3>
      <div class="chat-users">

          <div class="users-list">

              <div class="chat-user">
                  <span class="pull-right label label-primary">Online</span>
                  <img class="chat-avatar"  alt="" >
                  <div class="chat-user-name">
                      <a href="#">Michael Smith</a>
                  </div>
              </div>

          </div>
      </div>
    </div>

    <div class="col-lg-9 white-bg">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Console output</h5>
                        <div ibox-tools></div>
                    </div>
                    <div class="ibox-content">
                        <div slim-scroll box-height="40px">
                          <ul>
                            <li>> You can see the output here</li>
                          </ul>
                        </div>
                    </div>
                </div>
      </div>

</div>

<!-- <div class="row wrapper">

</div> -->









<div class="small-chat-box ng-small-chat fadeInRight animated" ng-show="openChat">

    <div class="heading" draggable="true">
        <small class="chat-date pull-right">
            02.19.2015
        </small>
        Small chat
    </div>

    <div class="content" chat-slim-scroll>

        <div class="left">
            <div class="author-name">
                Monica Jackson <small class="chat-date">
                10:02 am
            </small>
            </div>
            <div class="chat-message active">
                Lorem Ipsum is simply dummy text input.
            </div>

        </div>
        <div class="right">
            <div class="author-name">
                Mick Smith
                <small class="chat-date">
                    11:24 am
                </small>
            </div>
            <div class="chat-message">
                Lorem Ipsum is simpl.
            </div>
        </div>
        <div class="right">
           <div class="author-name">
               Anna Lamson
               <small class="chat-date">
                   11:24 am
               </small>
           </div>
           <div class="chat-message">
               The standard chunk of Lorem Ipsum
           </div>
       </div>
       <div class="left">
           <div class="author-name">
               Mick Lane
               <small class="chat-date">
                   08:45 pm
               </small>
           </div>
           <div class="chat-message active">
               I belive that. Lorem Ipsum is simply dummy text.
           </div>
       </div>
       <div class="right">
           <div class="author-name">
               Anna Lamson
               <small class="chat-date">
                   11:24 am
               </small>
           </div>
           <div class="chat-message">
               The standard chunk of Lorem Ipsum
           </div>
       </div>
       <div class="left">
           <div class="author-name">
               Mick Lane
               <small class="chat-date">
                   08:45 pm
               </small>
           </div>
           <div class="chat-message active">
               I belive that. Lorem Ipsum is simply dummy text.
           </div>
       </div>
        <div class="left">
            <div class="author-name">
                Alice Novak
                <small class="chat-date">
                    08:45 pm
                </small>
            </div>
            <div class="chat-message active">
                Check this stock char.
            </div>
        </div>




    </div>
    <div class="form-chat footer">
        <div class="input-group input-group-sm"><input type="text" class="form-control"> <span class="input-group-btn"> <button
                class="btn btn-primary" type="button">Send
        </button> </span></div>
    </div>

</div>
<div id="small-chat" ng-click="openChat = !openChat">

    <span class="badge badge-warning pull-right">5</span>
    <a class="open-small-chat">
        <i class="fa fa-comments"></i>

    </a>
</div>
