<div class="row wrapper" ng-if="vm.hasRoom">
    <div class="col-lg-9">
      <div ui-codemirror="{ onLoad : codemirrorLoaded }" ng-model="vm.currentCode"  ui-codemirror-opts="vm.editorOptions">
      </div>
    </div>

    <div class="col-lg-3">

      <video height="300" id="localVideo" ng-if="vm.rtcSwitch"></video>
       <div id="remotesVideos" ng-if="vm.rtcSwitch"></div>

          <h3>People in room ({{ vm.currRoomName }})</h3>
      <div class="chat-users">

          <div class="users-list">

              <div class="chat-user" ng-repeat="user in vm.users">
                  <span class="pull-right label label-primary">Online</span>
                  <img class="chat-avatar"  alt="" >
                  <div class="chat-user-name">
                      <a href="#">{{ user }}</a>
                  </div>
              </div>

          </div>
      </div>
    </div>

    <div class="col-lg-9 white-bg">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <!-- <h5>Console output</h5> -->
                        <div ibox-tools></div>
                        <button class="btn btn-primary" ng-click="vm.runCode()">Run {{ vm.selectedLang }}</button>
                    </div>
                    <div class="ibox-content">
                        <div chat-slim-scroll box-height="40px">
                          <ul>
                            <li ng-repeat="msg in vm.consoleMessages track by $index" >>  {{ msg }}</li>
                          </ul>
                        </div>
                    </div>
                </div>
      </div>

</div>

<!-- <div class="row wrapper">

</div> -->









<div class="small-chat-box ng-small-chat fadeInRight animated" ng-show="openChat" ng-if="vm.hasRoom">

    <div class="heading" draggable="true">
        <small class="chat-date pull-right">
            Online
        </small>
        Interview Chat
    </div>

    <div class="content" chat-slim-scroll>
      <span ng-repeat="msg in vm.messages">
       <div class="{{ msg.state }}">
           <div class="author-name">
               {{ msg.name }}
               <small class="chat-date">
                   {{ msg.date | date:"HH:mm" }}
               </small>
           </div>
           <div class="chat-message active">
               {{ msg.data }}
           </div>
       </div>
     </span>

    </div>
    <div class="form-chat footer">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" ng-model="vm.currentMsg" ng-keyup="$event.keyCode == 13 && vm.sendMsg()">
          <span class="input-group-btn">
            <button
                class="btn btn-primary" type="button" ng-click="vm.sendMsg()">Send
        </button>
      </span>
    </div>
    </div>

</div>
<div id="small-chat" ng-click="openChat = !openChat">

    <span class="badge badge-warning pull-right">5</span>
    <a class="open-small-chat">
        <i class="fa fa-comments"></i>

    </a>
</div>

<div class="row wrapper" ng-if="!vm.hasRoom">
  <div class="row">
      <div class="col-lg-12">
          <div class="ibox float-e-margins">
              <div class="ibox-content text-center p-md">

                  <h2><span class="text-navy">You haven't got a active room yet</span></h2>
                  <p>
                    <a class="btn btn-sm btn-white btn-block" ui-sref="index.main">Click here to create a new room</a>
                  </p>

              </div>
          </div>
      </div>
  </div>
</div>


<div class="theme-config">
    <div class="theme-config-box">
        <div class="spin-icon">
            <i class="fa fa-cogs fa-spin"></i>
        </div>
        <div class="skin-setttings">
            <div class="title">Configuration</div>
            <div class="setings-item">


                    <button class="btn btn-sm btn-danger pull-right " ng-if="vm.isAdmin" ng-click="vm.closeRoom()" type="button">
                      <strong>Close room
                        </strong>
                      </button>

                      <button class="btn btn-sm btn-danger pull-right " ng-if="!vm.isAdmin" ng-click="vm.leaveRoom()" type="button">
                        <strong>Leave room
                          </strong>
                        </button>
            </div>
            <div class="setings-item">
                    <span>
                        Language
                    </span>

                    <select class="form-control m-b" ng-model="vm.selectedLang" ng-change="vm.changeMode()">
                      <option ng-repeat="lang in vm.languages">{{ lang }}</option>
                    </select>
            </div>

             <div class="setings-item">
                    <span>
                        Video
                    </span>

                <div class="switch">
                    <div class="onoffswitch">
                        <input type="checkbox" ng-model="vm.rtcSwitch" ng-change="vm.enableCamera()"id="boxedlayout" name="boxedlayout" class="onoffswitch-checkbox">
                        <label class="onoffswitch-label" for="boxedlayout">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </div>
            <!-- <div class="setings-item">
                    <span>
                        Settings 2
                    </span>

                <div class="switch">
                    <div class="onoffswitch">
                        <input type="checkbox" name="fixedfooter" class="onoffswitch-checkbox" id="fixedfooter">
                        <label class="onoffswitch-label" for="fixedfooter">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </div> -->

            <div class="title">Themes</div>
            <div class="setings-item default-skin">
                    <span class="skin-name ">
                         <a class="s-skin-0" ng-click="vm.changeTheme('ambiance')">
                             Ambiance
                         </a>
                    </span>
            </div>
            <div class="setings-item blue-skin">
                    <span class="skin-name ">
                        <a  class="s-skin-1" ng-click="vm.changeTheme('cobalt')">
                            Cobalt
                        </a>
                    </span>
            </div>
            <div class="setings-item yellow-skin" ng-click="vm.changeTheme('bespin')">
                    <span class="skin-name ">
                        <a  class="s-skin-3">
                            Bespin
                        </a>
                    </span>
            </div>
            <div class="setings-item default-skin" ng-click="vm.changeTheme('twilight')">
                    <span class="skin-name ">
                         <a class="s-skin-0">
                             Twilight
                         </a>
                    </span>
            </div>
        </div>
    </div>
</div>

<script>

    // SKIN Select
    $('.spin-icon').click(function () {
        $(".theme-config-box").toggleClass("show");
    });

    $('#boxedlayout').click(function () {
      if ($('#boxedlayout').is(':checked')) {

      } else {

      }
  });

</script>
