<div class="row wrapper" ng-if="vm.hasRoom">
    <div class="col-lg-9">
      <ui-codemirror ng-model="vm.currentCode" ng-change="vm.change()" ui-codemirror-opts="vm.editorOptions">
      <ui-codemirror>
    </div>

    <div class="col-lg-3">
      <h3>People in room</h3>
      <div class="chat-users">

          <div class="users-list">

              <div class="chat-user">
                  <span class="pull-right label label-primary">Online</span>
                  <img class="chat-avatar"  alt="" >
                  <div class="chat-user-name">
                      <a href="#">Michael Smith</a>
                  </div>
              </div>

          </div>
      </div>
    </div>

    <div class="col-lg-9 white-bg">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Console output</h5>
                        <div ibox-tools></div>
                    </div>
                    <div class="ibox-content">
                        <div slim-scroll box-height="40px">
                          <ul>
                            <li>> You can see the output here</li>
                          </ul>
                        </div>
                    </div>
                </div>
      </div>

</div>

<!-- <div class="row wrapper">

</div> -->









<div class="small-chat-box ng-small-chat fadeInRight animated" ng-show="openChat" ng-if="vm.hasRoom">

    <div class="heading" draggable="true">
        <small class="chat-date pull-right">
            02.19.2015
        </small>
        Small chat
    </div>

    <div class="content" chat-slim-scroll>
      <span ng-repeat="msg in vm.messages">
       <div class="{{ msg.state }}">
           <div class="author-name">
               {{ msg.name }}
               <small class="chat-date">
                   {{ msg.date | date:"HH:mm" }}
               </small>
           </div>
           <div class="chat-message active">
               {{ msg.data }}
           </div>
       </div>
     </span>

    </div>
    <div class="form-chat footer">
        <div class="input-group input-group-sm"><input type="text" class="form-control" ng-model="vm.currentMsg"> <span class="input-group-btn"> <button
                class="btn btn-primary" type="button" ng-click="vm.sendMsg()">Send
        </button> </span></div>
    </div>

</div>
<div id="small-chat" ng-click="openChat = !openChat">

    <span class="badge badge-warning pull-right">5</span>
    <a class="open-small-chat">
        <i class="fa fa-comments"></i>

    </a>
</div>

<div class="row wrapper" ng-if="!vm.hasRoom">
  <div class="row">
      <div class="col-lg-12">
          <div class="ibox float-e-margins">
              <div class="ibox-content text-center p-md">

                  <h2><span class="text-navy">You haven't got a active room yet</span></h2>
                  <p>
                    <a class="btn btn-sm btn-white btn-block" ui-sref="index.main">Click here to create a new room</a>
                  </p>

              </div>
          </div>
      </div>
  </div>
</div>
