<div class="wrapper wrapper-content animated fadeInRight">

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content text-center p-md">
                            <h2><span class="text-navy">{{ title }}</span></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content text-center p-md">

                            <h4 class="m-b-xxs">Add a new question </h4>

                           <div>
                               <div class="form-group">
                                 <input type="text"  ng-model="form.question" placeholder="Questions" class="form-control">
                               </div>
                               <div class="form-group">
                                 <input type="selection" ng-model="form.tag" placeholder="type" class="form-control">
                               </div>
                               <button class="btn btn-sm btn-primary pull-right m-t-n-xs" ng-click="addQuestion()" type="button">
                                 <strong>Create</strong>
                               </button>
                           </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content text-center p-md">

                            <h4 class="m-b-xxs">Search for available rooms </h4>
                            <p>You can find only public rooms</p>

                        </div>
                    </div>

                </div>


            </div>


        </div>
